<section class="banner-video-section">
    <div class="video-container">
      {% if section.settings.video_type == 'youtube' %}
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_id }}" frameborder="0" allowfullscreen></iframe>
      {% elsif section.settings.video_type == 'vimeo' %}
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video_id }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>
  </section>
  
  <style>
    .banner-video-section {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%; 
    }
    .banner-video-section .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .banner-video-section iframe,
    .banner-video-section video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 768px) {
      .banner-video-section {
        padding-top: 75%; 
      }
    }
  </style>
  