{% if section.settings.faq_question != blank and section.settings.faq_answer != blank %}
  <h2>{{ section.settings.faq_title }}</h2>
  <!-- {{ section.settings.faq_question }}
  {{ section.settings.faq_answer }} -->
  {% for collection in section.settings.faq_q1.value %}
    {{ collection.value.faq.question.value }}
{% endfor %}  
{% endif %}
{% schema %}
{
  "name": "Collection FAQ",
  "enabled_on": {
    "templates": ["collection", "list-collections"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "Collection FAQ Section",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "richtext",
      "id": "faq_question",
      "label": "Select Faq"
    },
    {
      "type": "richtext",
      "id": "faq_answer",
      "label": "Select Faq"
    },
    {
      "type": "metaobject_list",
      "id": "faq_q1",
      "label": "test",
      "limit": 10,
      "metaobject_type": "faq"
    }
  ],
  "presets": [
    {
      "name": "Collection FAQ"
    }
  ]
}
{% endschema %}
