<div class="faq-section">
  {% if collection.metafields.custom.faq != blank %}
    <h2>{{ section.settings.faq_title }}</h2>
    <div class="faq-items">
      {% for faq_item in collection.metafields.custom.faq.value %}
        {{ collection.metafields.custom.faq | json }}
        <details class="faq-item">
          <summary class="faq-question"><strong>{{ faq_item.question.value }}</strong></summary>
          <p class="faq-answer">{{ faq_item.answer }}</p>
        </details>
      {% endfor %}
    </div>
  {% else %}
    <p>No FAQs available for this collection.</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection FAQ",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "Collection FAQ Section Title",
      "default": "Frequently Asked Questions"
    }
  ],
  "presets": [
    {
      "name": "Collection FAQ"
    }
  ]
}
{% endschema %}
