{% if section.settings.faq_title != blank %}
  <h2>{{ section.settings.faq_title }}</h2>
  <div class="faq-container">
    {% assign faqs = collection.metafields.faq.questions %}
    
    {% if faqs != blank %}
      {% for faq in faqs %}
        <div class="faq-item">
          <h3>{{ faq.question }}</h3>
          <p>{{ faq.answer }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No FAQs available for this collection.</p>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection FAQ",
  "enabled_on": {
    "templates": ["collection", "list-collections"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "Collection FAQ Section",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "richtext",
      "id": "faq_question",
      "label": "Select Faq"
    },
    {
      "type": "richtext",
      "id": "faq_answer",
      "label": "Select Faq"
    }
  ],
  "presets": [
    {
      "name": "Collection FAQ"
    }
  ]
}
{% endschema %}
