{% if section.settings.faq_question != blank and section.settings.faq_answer != blank %}
  <h2>{{ section.settings.faq_title }}</h2>
  {% assign faq = section.settings.faq_q1 %}
  {% for collection in faq %}
    <p>{{ collection.question.value }}</p>
    <p>{{ collection.answer.value }}</p>
  {% endfor %}
{% endif %}
{% schema %}
{
  "name": "Collection FAQ",
  "enabled_on": {
    "templates": ["collection", "list-collections"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "Collection FAQ Section",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "metaobject_list",
      "id": "faq_q1",
      "label": "test",
      "limit": 10,
      "metaobject_type": "faq"
    }
  ],
  "presets": [
    {
      "name": "Collection FAQ"
    }
  ]
}
{% endschema %}
