<footer class="footer">
  <div class="width">
    <div class="footer-top">
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id": "copyright",
        "label": "Copyright Text",
        "type": "text"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Navigation Column",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Navigation Menu"
          }
        ]
      }
    ]
  }
{% endschema %}