<p>{{ section.settings.copyright }}</p>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id": "copyright",
        "label": "Copyright Text",
        "type": "text"
      }
    ]
  }
{% endschema %}