.cart__blocks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-contents{
    flex: 0 0 100%;
}

.cart__ctas{
    flex: 0 0 50%;
    justify-content: flex-end;
}

div:has(.clear-cart-button){
    flex: 0 0 50%;
}

.clear-cart-button{
    text-decoration: none;
    padding: 15px 80px;
    background: black;
}