<div id="productContainer">
  hello
  {% for product in products %}
    <div class="product">
      <h3>{{ products.title }}</h3>
      <p>Price: {{ products.price }}</p>
    </div>
  {% endfor %}
</div>

<script>
  var products = JSON.parse(localStorage.getItem('products')) || [];
  console.log(products);

</script>
